<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title mode="ios" *ngIf="cargado">{{usuario.nombre}}</ion-title>
    </ion-toolbar>
    <div *ngIf="cargado" style="text-align: center; margin-top: 5%;">
        <div>
            <ion-fab horizontal="end" slot="fixed">
                <ion-fab-button>
                    <ion-icon name="ellipsis-vertical"></ion-icon>
                </ion-fab-button>
                <ion-fab-list side="bottom">
                    <ion-fab-button (click)="compartir()">
                        <ion-icon name="share-social"></ion-icon>
                    </ion-fab-button>
                    <ion-fab-button *ngIf="!logado && !existeChat" (click)="iniciarChat()">
                        <ion-icon name="send"></ion-icon>
                    </ion-fab-button>
                    <ion-fab-button *ngIf="logado" routerLink="/editar">
                        <ion-icon name="pencil"></ion-icon>
                    </ion-fab-button>
                </ion-fab-list>
            </ion-fab>
        </div>
        <ion-avatar class="item-avatar-lg" style="margin: auto;">
            <img [src]="imagen" />
        </ion-avatar>
        <h1 *ngIf="usuario.trabajador">{{usuario.empleo}}</h1>
        <h5>Se unió en {{usuario.fechaRegistro | date}}</h5>
        <h5 *ngIf="usuario.trabajador">
            {{estrellas}}
            <ion-icon name="star"></ion-icon>
        </h5>
    </div>
    <ion-segment scrollable color="primary" (ionChange)="cambio( $event )">
        <ion-segment-button *ngFor="let apartado of apartados" [value]="apartado" [id]="apartado">
            <ion-label text-capitalize>{{apartado}}</ion-label>
        </ion-segment-button>
    </ion-segment>
</ion-header>

<ion-content>
    <div *ngIf="cargado">
        <div *ngIf="segmento.value == 'Perfil'" class="ion-padding">
            <div *ngIf="usuario.trabajador" style="text-align: justify;">
                <p>{{usuario.descripcion}}</p>
            </div>
            <table class="tabla">
                <tr>
                    <td class="atr">
                        <strong>Fecha de nacimiento</strong>
                    </td>
                    <td>
                        {{usuario.fechaNacimiento | date}}
                    </td>
                </tr>
                <tr>
                    <td class="atr">
                        <strong>Email</strong>
                    </td>
                    <td>
                        {{usuario.email}}
                    </td>
                </tr>
                <tr>
                    <td class="atr">
                        <strong>Teléfono</strong>
                    </td>
                    <td>
                        {{usuario.telefono}}
                    </td>
                </tr>
                <tr>
                    <td class="atr">
                        <strong>Ciudad</strong>
                    </td>
                    <td>
                        {{usuario.ciudad}}
                    </td>
                </tr>
                <tr>
                    <td class="atr">
                        <strong>Dirección</strong>
                    </td>
                    <td>
                        {{usuario.direccion}}
                    </td>
                </tr>
                <tr>
                    <td class="atr">
                        <strong>Código postal</strong>
                    </td>
                    <td>
                        {{usuario.codigoPostal}}
                    </td>
                </tr>
            </table>
        </div>
        <div *ngIf="segmento.value == 'Trabajos'">
            <app-lista-trabajos [trabajos]="trabajos" (emitirValor)="getValor($event)"></app-lista-trabajos>
        </div>
        <div *ngIf="segmento.value == 'Reseñas'">
            <form (ngSubmit)="submit(form)" #form="ngForm" class="ion-padding" *ngIf="!logado">
                <ion-textarea required name="cuerpo" [(ngModel)]="resena.cuerpo" #cuerpo="ngModel" style="border: 1px solid #3880ff; border-radius: 5%;"></ion-textarea>
                <small *ngIf="cuerpo.invalid && form.submitted" class="text-danger">No se pueden registrar reseñas vacías</small>
                <ion-button id="submit" type="submit" expand="block" fill="outline">Hecho</ion-button>
            </form>
            <app-lista-resenas [resenas]="resenas"></app-lista-resenas>
        </div>
    </div>
</ion-content>