<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title mode="ios">Seguidores/Siguiendo</ion-title>
    </ion-toolbar>
    <ion-segment scrollable color="primary" (ionChange)="cambio( $event )">
        <ion-segment-button *ngFor="let apartado of apartados" [value]="apartado" [id]="apartado">
            <ion-label text-capitalize>{{apartado}}</ion-label>
        </ion-segment-button>
    </ion-segment>
</ion-header>

<ion-content>
    <app-lista-usuarios [trabajadores]="usuarios"></app-lista-usuarios>
</ion-content>