<ion-header>
    <ion-toolbar>
        <ion-title style="text-align: center;"><strong>Profesionales cercanos a ti</strong></ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ng-container *ngIf="trabajadores.length > 0; else elseTemplate">
        <app-lista-usuarios [trabajadores]="trabajadores"></app-lista-usuarios>
    </ng-container>
    <ng-template #elseTemplate>
        <div class="ion-padding">
            <ion-text>
                <p style="text-align: center;">No hay profesionales en tu ciudad</p>
            </ion-text>
        </div>
    </ng-template>

</ion-content>