<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title mode="ios">Editar perfil</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <app-form-trabajador *ngIf="usuario && usuario.trabajador" [usuario]="usuario" (emiteDatos)="recibeDatos($event)"></app-form-trabajador>
    <app-form-usuario-edicion *ngIf="usuario && !usuario.trabajador" [usuario]="usuario" (emiteDatos)="recibeDatos($event)"></app-form-usuario-edicion>
</ion-content>