<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title mode="ios">Editar perfil</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form *ngIf="formularioActivo" (ngSubmit)="submit()" [formGroup]="form" class="ion-padding">
        <div>
            <ion-avatar class="item-avatar-lg" style="margin: auto;" (click)="tomarFoto()">
                <img [src]="imagen" />
            </ion-avatar>
        </div>
        <ion-list>
            <ion-item>
                <ion-label class="text-primary" position="floating">
                    Nombre completo
                    <small *ngIf="nombreRequerido" class="text-danger">Nombre requerido</small>
                    <small *ngIf="nombreLongitud" class="text-danger">Mínimo cuatro caracteres</small>
                </ion-label>
                <ion-input class="text-primary" type="text" name="nombre" formControlName="nombre"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label class="text-primary" position="floating">
                    Email
                    <small *ngIf="emailRequerido" class="text-danger">Campo requerido</small>
                    <small *ngIf="emailNoValido" class="text-danger">Email no válido</small>
                    <small *ngIf="emailEnUso" class="text-danger">Email en uso</small>
                </ion-label>
                <ion-input class="text-primary" type="text" name="email" formControlName="email"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label class="text-primary" position="floating">
                    Fecha de nacimiento
                    <small *ngIf="fechaNacimientoRequerido" class="text-danger">Campo requerido</small>
                </ion-label>
                <ion-datetime display-format="DD.MM.YYYY" class="text-primary" name="fechaNacimiento" formControlName="fechaNacimiento"></ion-datetime>
            </ion-item>
            <ion-item>
                <ion-label class="text-primary" position="floating">
                    Teléfono
                    <small *ngIf="telefonoRequerido" class="text-danger">Campo requerido</small>
                    <small *ngIf="telefonoDebeSerNumerico" class="text-danger">Debe ser un número de 9 cifras</small>
                    <small *ngIf="telefonoEnUso" class="text-danger">Teléfono en uso</small>
                </ion-label>
                <ion-input class="text-primary" type="text" name="telefono" formControlName="telefono"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label class="text-primary" position="floating">
                    Ciudad
                    <small *ngIf="ciudadRequerido" class="text-danger">Campo requerido</small>
                </ion-label>
                <ion-input class="text-primary" type="text" name="ciudad" formControlName="ciudad"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label class="text-primary" position="floating">
                    Dirección
                    <small *ngIf="direccionRequerido" class="text-danger">Campo requerido</small>
                </ion-label>
                <ion-input class="text-primary" type="text" name="direccion" formControlName="direccion"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label class="text-primary" position="floating">
                    Código postal
                    <small *ngIf="codigoPostalRequerido" class="text-danger">Campo requerido</small>
                    <small *ngIf="codigoPostalNoNumerico" class="text-danger">Debe ser numérico</small>
                </ion-label>
                <ion-input class="text-primary" type="text" name="codigoPostal" formControlName="codigoPostal"></ion-input>
            </ion-item>
            <!-- <ion-item>
                <ion-label class="text-primary">Trabajador</ion-label>
                <ion-checkbox color="primary" slot="start" (ionChange)="change($event)"></ion-checkbox>
            </ion-item> -->
            <div *ngIf="esTrabajador">
                <ion-item>
                    <ion-label class="text-primary" position="floating">
                        Empleo
                        <small *ngIf="empleoRequerido" class="text-danger">Campo requerido</small>
                    </ion-label>
                    <ion-input class="text-primary" type="text" name="empleo" formControlName="empleo"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label class="text-primary" position="floating">
                        Descripción
                        <small *ngIf="descripcionRequerido" class="text-danger">Campo requerido</small>
                    </ion-label>
                    <ion-input class="text-primary" type="text" name="descripcion" formControlName="descripcion"></ion-input>
                </ion-item>
            </div>
            <ion-button type="submit" expand="block" fill="outline">Listo</ion-button>
        </ion-list>
    </form>
</ion-content>